# Fichiers de dépendances
node_modules/

# Environnements virtuels Python
venv/
*.pyc
__pycache__/

# Fichiers système
.DS_Store

# Fichiers de log
*.log

# Fichiers de build
dist/
build/

# Dossiers spécifiques au projet
analysis_results/
downloads/

# Fichiers de configuration et clés API
*.json 